    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Acerca de nosotros</h1>
                </div>

            </div>
        </div>
    </section><!--/#title-->

    <section id="about-us" class="container">
        <div class="row">

            <div class="col-sm-4">
                <h2></h2>
                <%= image_tag "hamFINAL.png" , :class => 'center img-responsive' %>
            </div><!--/.col-sm-6-->

            <div class="col-sm-8">
                <h2>#HackeandoAlMachismo</h2>
                <p class="lead">Es una iniciativa del LabCívico Bolivia que plantea visibilizar y reflexionar acerca de la violencia de género mediante las siguientes actividades:
                    <ul class="lead">
                        <li class="lead">Realización de una campaña en contra de contenidos machistas y sexistas que circulan en los medios tradicionales y digitales en Bolivia. Esta campaña se enfocará a etiquetar e indexar contenidos para recopilarlos en un solo espacio para su discusión y valoración por los usuarios y las usuarias.</li><li>Levantamiento de un repositorio de información sobre violencia de género de acceso libre, en el marco de datos.bo.</li>
                        <li> Realización de talleres de capacitación en distintos temas: ciberactivismo, feminismos y masculinidades, entre otros</li>
                        <li>Jornadas de hacktivismo orientadas a fortalecer las anteriores actividades.</li>
                    </ul>
                </p>
            </div><!--/.col-sm-6-->

        </div><!--/.row-->
        <div class="row">

            <div class="col-sm-4">
                <h2></h2>
                <%= image_tag "labcivico.png" , :class => 'center img-responsive' %>

            </div>
            <div class="col-sm-8">
                <h2>¿Qué es LabCívico?</h2>
                <p class="lead">LabCívico es una plataforma abierta que integra a activistas, desarrolladores, diseñadores académicos, periodistas, grupos de la sociedad civil y personas en general en torno a la innovación cívica. Este año el LabCívico Bolivia ha elegido como principal temática de trabajo la violencia de género. <br> <br>
Nuestro objetivo es generar iniciativas activistas (proyectos, campañas, herramientas) que se enfoquen a solucionar o incidir en problemáticas sociales aprovechando las potencialidades que brindan las tecnologías de la información y comunicación.<br> <br>

<strong>Socios</strong><br>
El LabCívico surge como iniciativa de la fundación Ciudadano Inteligente y trabaja con apoyo de diversos activistas voluntarios. No obstante, para realizar sus distintas acciones y en relación a la temática que se ha elegido este año, se han establecido acercamientos con: Defensorías de la familia del Gobierno Municipal de La Paz, Coordinadora de la Mujer, Fondo Conexión de Emancipación.
</p>
            </div><!--/.col-sm-6-->
            <div class="col-sm-6">
                <h2></h2>
                <div>
                    
                </div>
            </div><!--/.col-sm-6-->
        </div><!--/.row-->
        <div class="gap"></div>
        <h1 class="center">Equipo de trabajo</h1>
        <p class="lead center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <div class="gap"></div>

        <div id="meet-the-team" class="row">
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Eliana Quiroz<small class="designation muted">Activista e investigadora en temáticas web. Gestora de proyectos.</small></h5>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Alvaro Molina<small class="designation muted">Desarrollador y activista en opendata.</small></h5>
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Carolina Flores<small class="designation muted">Diseñadora, emprendedora y desarrolladora.</small></h5>
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Cecilia Enriquez<small class="designation muted">Investigadora  en temas de género y experta en DD.HH.</small></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Henry Taby<small class="designation muted">Desarrollador y activista.</small></h5>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Cristian León<small class="designation muted">Investigador en TIC para el desarrollo y fortalecimiento democrático.</small></h5>
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Adriana Zurita<small class="designation muted">Abogada e investigadora en temas web.</small></h5>
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Noelia Gómez<small class="designation muted">. Investigadora en temas web y de género.</small></h5>
                </div>
            </div>
        </div>

        <div id="meet-the-team" class="row">

            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Wilfredo Jordán<small class="designation muted">Periodista digital.</small></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Miriam Jemio<small class="designation muted">Periodista digital.</small></h5>
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Andrea Terceros<small class="designation muted">Experta en temas de género..</small></h5>
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Daniela Tejada<small class="designation muted">Gestora de proyectos.</small></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Sergio Ardaya.<small class="designation muted">Abogado y gestor de proyectos.</small></h5>
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <h5>Cristina Loma<small class="designation muted">Innovadora social y activista.</small></h5>
                </div>
            </div>
        </div><!--/#meet-the-team-->
    </section><!--/#about-us-->