    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Conceptos &uacute;tiles</h1>
                </div>

            </div>
        </div>
    </section><!--/#title-->

    <section id="about-us" class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="lead"> <strong>Género.</strong> Refiere a la variedad de comportamientos, condiciones y posiciones que se atribuyen cultural, social y económicamente a hombres y mujeres y que determinan las posibilidades y las formas de vida y de trabajo de las personas. Cada sociedad atribuye características a las personas en función de su condición sexual, de ahí que la categoría género aluda a una forma de ejercicio de poder. Las identidades de género están condicionadas por lo que la sociedad espera de cada una de ellas y esto repercute directamente en la formulación de los proyectos de vida de mujeres y hombres. <br> <br>

<strong>Machismo.</strong> Es una ideología que engloba el conjunto de actitudes, conductas, prácticas sociales y creencias destinadas a promover la negación de la mujer, o todo lo que no se considere “masculino”, como sujeto indiferentemente de la cultura, tradición o contexto. Dicha negación se hace presente en diferentes ámbitos como ser: 1) Familiar (estructuras familiares patriarcales). 2) Sexual (promoción de la inferioridad de la sexualidad femenina como sujeto pasivo o negación del deseo femenino). 3) Económico (infravaloración de la actividad laboral o inferioridad de salarios). 4) Legislativo (ausencia de representación de la mujer en las leyes). 5) Intelectual (inferioridad en inteligencia, en capacidad matemática, objetiva, lógica, y de análisis). 6) Anatómico (supremacía de la fuerza física masculina o exageración de diferencia). 7) Lingüístico (no representación de la mujer en el lenguaje). 8) Histórico (ocultación de mujeres importantes dentro de la historia de la humanidad).
<br><br>

<strong>Poder.</strong>  El poder aparece, a lo largo de los siglos, como una propiedad que poseen ciertos seres humanos “elegidos”. Uno de los ejes fundantes del ejercicio de poder es la “dicotomía jerárquica” que ordena a las personas en función a su color, género, dinero, opción sexual, edad y otros.
Androcentrismo. Es un modelo social que considera a los hombres como centro de la sociedad y referentes para todas las cosas, parte de la idea de que la mirada masculina es la única posible y universal, por lo que se generaliza para toda la humanidad, sean hombres o mujeres.
<br><br>

<strong>Patriarcado.</strong> Está caracterizado por relaciones de dominación y opresión que subordina y oprime a quienes considera “inferiores” o propiedades, entre ellos o ellas a mujeres. Desde este punto de vista, el hombre: 1) Es lo más importante. 2) Es dueño del mundo y de las vidas de mujeres y de quienes lo rodean. 3) Es un ser hecho para sí mismo. 4) Es el que piensa, el "ser de la razón". 5) Es el que inventa, el que dirige, el jefe, el patriarca. 6) Es el sujeto de la sexualidad (la mujer es el objeto de la sexualidad). 7) Es el que produce y genera riqueza.
En el patriarcado, ser mujer, es: 1) Ser para los demás, para “los otros”. 2) Cumplir con actividades de reproducción social: cuidar siempre de los otros. 3) Ser naturaleza y no cultura. 4) Estar encargadas de reproducir el sistema de género. 5) Ser la que sigue, la subordinada.
Feminismo. Es un movimiento político, ideológico, social y cultural cuyo punto de partida se encuentra en el análisis de las causas de la opresión y subordinación de las mujeres que afecta de manera directa al ejercicio de sus derechos. Cuestiona la dominación y la violencia estructural que viven las mujeres y la asignación de roles sociales según el sexo.
<br><br>

<strong>Despatriarcalización.</strong> Lo que se propone con la despatriarcalización es enfrentar toda herencia colonial y desestabilizar las relaciones sociales de dominio y de ejercicio del poder, haciendo visible y quebrando las reglas sociales, culturales, religiosas, normativas y políticas, costumbres y prácticas patriarcales que preservan la sumisión de las mujeres y la desigualdad.
<br><br>

<strong>Igualdad.</strong> No es la exigencia de trato idéntico sino aquella que se logra con la eliminación de todas las formas de discriminación contra las mujeres mediante acciones, planes y programas de los Estados. El concepto de igualdad de la CEDAW no implica la necesidad de igualar a las mujeres con los hombres, sino de establecer una igualdad en el reconocimiento, goce y ejercicio de los Derechos Humanos.
<br><br>

<strong>Violencia de género.</strong>  Refiere a toda acción o conducta dirigida en contra de una persona en razón de su género, la cual puede causar la muerte, daño o sufrimiento físico, sexual o psicológico, tanto en el ámbito público como en el privado. Se entiende que esta violencia puede ser física, sexual y/o psicológica, puede suceder en la familia y en la comunidad o en el Estado, comprende -entre otras manifestaciones-: violación, maltrato, abuso sexual, tortura, trata de personas, prostitución forzada, secuestro y acoso sexual en el lugar de trabajo.

<br><br>
<strong>Masculinidad.</strong> Es la construcción cultural de género que designa el rol de los hombres en la sociedad. Refiere a un conjunto de características asociadas al rol tradicional del hombre. Dentro de estas características se encuentran: fuerza, valentía, virilidad, triunfo, competición, seguridad o el no mostrar afectividad. De manera que a lo largo de la historia, y todavía hoy, los hombres han sufrido una gran presión social para responder con comportamientos asociados a esos atributos.

<br><br>
<strong>Feminidad.</strong> Es la construcción cultural de género que designa el rol de las mujeres en la sociedad. Refiere a un conjunto de características asociadas al rol tradicional de la mujer. Dentro de estas características se encuentran: comprensión, delicadeza, suavidad, muestras de afecto, sumisión. De manera que a lo largo de la historia y todavía hoy, las mujeres han sufrido una gran presión social para responder delante de las demás con comportamientos asociados a esos atributos.

<br><br>
<strong>Cosificación.</strong> La cosificación es el acto de representar o tratar a una persona como un objeto (una cosa que puede ser usada como uno desee). Esta forma de violencia simbólica somete, en general, a todas las mujeres a través de diferentes medios: 1) Publicidad. 2) Revistas. 3) Series de televisión. 4) Películas. 5) Videojuegos. 6) Videos musicales. 7) Noticias, etc.

                </p>
            </div><!--/.col-sm-6-->
        </div><!--/.row-->
        <div class="gap"></div>
    </section><!--/#about-us-->