    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Contacto</h1>
                </div>

            </div>
        </div>
    </section><!--/#title-->    

    <section id="contact-page" class="container">
        <div class="row">
            <div class="col-sm-8">
                <h4>Contacto</h4>
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="contact-form" method="post" role="form">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email address">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Enviar Mensaje</button>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                        </div>
                    </div>
                </form>
            </div><!--/.col-sm-8-->
            <div class="col-sm-4">
                <h4>O contactanos por medio de:</h4>
                <p>
                <address>
                <strong>Cecilia Enríquez</strong><br>
                72003381 <br>
                enriqzceci@gmail.com
                </address>

                <address>
                <strong>
                Adriana Zurita</strong> <br> 
                78888205 <br>
                adriluciazuritaroca@gmail.com
                </address>

                <address>
                <strong>Cristian Leon</strong> <br>
                crisleonc@gmail.com
                </address>

                </p>

            </div><!--/.col-sm-4-->
        </div>
    </section><!--/#contact-page-->
